body{
  background-image: image(Duurzaamheidsoverzicht kaal.jpg);
  position: absolute;
  width: 100%;
  height: 100%;
  }
  .duurzaamheidsoverzicht {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
    }
    .rounded-button {
      position: absolute;
      top: 12%;
      left: 1%;
      width: 98%;
      height:9%;
      color: #ffffff;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-radius: 0%;
      border: none;
      text-decoration: none;
      transition: background 0.2s;
      z-index: 9;
    }
    h1 {
      font-style: oblique;font-family: inherit;font-variant: small-caps;font-size:calc(1rem + .125 * ((100vw - 20rem) / 3));
      margin: 1%;
    }
    .Tekstvak{
      position: absolute;
      bottom: 1.78%;
      left: 1%;
      width: 39%;
      height: 75%;
      opacity: 0.8;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      background-color: #40474f;
      z-index: 0;
      overflow-x: hidden
    }
    p{
      font-size: calc(1rem + .125 * ((100vw - 20rem) / 100));
      line-height: 1.375;
      margin: 2%;
      font-family: RijksText,Arial,sans-serif;
      font-weight: 400;
      color: #fff;
    }
    .container{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        z-index: 9;
        opacity: 0.8
     }
    .item {
      width: 7%;
      height: 12.5%;
      background: #009578;
      color: #ffffff;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-radius: 100%;
      border: none;
      text-decoration: none;
      transition: background 0.2s;
    }
    .item:hover {
      background:#00866c;
    }
    .items-1{
      position: absolute;
      top: 15%;
      right:15%;
    }
    .items-2{
      position: absolute;
      top: 2.5%;
      left: 38.5%;
    }
    .items-3{
      position: absolute;
      top: 7.5%;
      left:53%;
    }
    .items-4{
      position: absolute;
      top: 83%;
      right: 10%;
    }
    .items-5{
      position: absolute;
      top: 75%;
      left:35%;
    }
    .items-6{
      position: absolute;
      top: 12.5%;
      left:0%;
    }
    .items-7{
      position: absolute;
      top:40%;
      right:3%;
    }
